---
layout: "layouts/base.njk"
pagination:
  data: caseStudies
  size: 1
  alias: caseStudy
permalink: "case-studies/{{ caseStudy.url }}/index.html"
---

<h1>{{ caseStudy.title }}</h1>
<p>
  <!-- You might want to include additional case study data here -->
</p>